body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  margin: 10px;
  color: white;
}

.search {
  margin: 10px;
}

.link-homepage {
  font-size: 50px;
  color: white;
}

.input {
  float: right;
}

.login-page {
  padding-bottom: 100%;
}

.form {
  font-size: 20px;
  margin: auto;
  width: 400px;
}